.basic-image{
    position: relative;
    overflow: hidden;
}
.basic-image img{
    border-radius: var(--border-radius-4);
    height: 270px;
    width: 100%;
    object-fit: fill;
}

/* Black overlay */
.basic-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: var(--border-radius-4);
  }
  
  .basic-image:hover .overlay,.basic-image:hover p {
    opacity: 1;
  }

  .basic-image p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }