.rendered:focus {
    outline: none;
    border-radius: var(--border-radius-4);
    border: none;
    overflow: hidden;
}
.slider-example-split-line {
    --divider-width: 7px;
    --divider-color: var(--netural-100);
    --default-handle-opacity: 0;
    width: 100%;
    max-height: 600px;
    border-radius: var(--border-radius-4);
    margin-bottom: 40px;
  }

  .slider-example-split-line img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }