.carousel-caption {
  bottom: 3.25rem;
}
.carousel-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 1.5rem;
}

/* Standalone Auth Container Styles */
/* .auth-standalone-container {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.back-to-home a {
    color: #555;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.back-to-home a:hover {
    color: #0d6efd;
}

.back-to-home i {
    font-size: 1.2rem;
    margin-inline-end: 0.5rem;
} */
.top-content {
  border-radius: var(--border-radius-full);
  gap: 0.5rem;
}

.top-content img {
  width: 20px;
  height: auto;
}

.top-content p {
  margin: 0;
  font-size: 1rem;
  color: var(--netural-100);
  font-weight: 500;
  line-height: 1.5rem;
}
a {
  color: var(--primary);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-control {
    padding: 8px 10px;
  border-radius: var(--border-radius-4);
}
.btn-submit {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.error {
  color: var(--red-200);
  padding: 6px 0px 2px;
}

.separator {
  display: flex;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 5px;
}

.register-social .btn-submit {
  color: var(--netural-600);
  border-color: var(--netural-300);
  border: 1px solid var(--netural-300);
}
.register-social .btn-submit p {
  min-width: 130px;
  color: var(--netural-600);
}
html[dir="ltr"] .register-social .btn-submit p {
  min-width: 160px;
}
.p-password {
  width: 100%;
  position: relative;
}
[dir="rtl"] .p-password .p-inputtext {
  direction: ltr;
}
.p-password .p-inputtext {
  width: 100%;
  padding: 12px 8px 12px 12px;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--netural-200);
  background-color: var(--netural-100);
}

.p-password .p-inputtext:focus {
  box-shadow: -1px 0px 0px 1px var(--primary);
  border: 1px solid var(--primary);
}

.p-password .p-password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

html[dir="ltr"] .p-password .p-password-toggle {
  left: unset;
  right: 12px;
}

html[dir="ltr"] .password-toggle {
  right: 15px;
  left: unset;
}
.verify .btn-main p {
  color: var(--primary);
}
.verify .btn-main:hover p {
  color: var(--netural-100);
}
