.update-property-modal .modal {
  --bs-modal-width: 800px !important;
}

.update-property-modal .modal-content {
  height: 70vh;
  width: 850px;
}
.update-property-modal .modal-content .modal-body {
  width: 850px;
}
