.dropmenu-user hr {
  color:  var(--netural-200);
  opacity: 1;
}
.navbar-menu {
    padding: 14px 0 !important;
    background: var(--netural-100) !important;
    border-bottom: var(--border-02);
  }
  .nav-menu .nav-link{
    color: var(--netural-1000) ;
    font-weight: 500 ;
    transition: 0.3s ease-in-out;
  }
  .nav-menu .nav-link:hover{
    color: var(--primary);
  }
  .navbar-menu .navbar-brand {
    padding-top: 0 !important;
  }
  
  .navbar-menu .navbar-nav {
    align-items: center;
  }
  
  .navbar-menu .navbar-toggler {
    padding: 7px 10px;
  }
  
  .navbar-menu .navbar-toggler:focus {
    box-shadow:0px 0px 0px 2px var(--primary) ;
  }
  
  .input-search-content {
    position: relative;
    background: var(--white-03-color);
    border-radius: 50px;
    padding: 0px 12px;
    margin-right: 15px;
    border: var(--border-02);
  }
  
  .input-search-content .icon-location {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
  }
  
  .input-search-content .input-search-location {
    background: transparent !important;
    border: none;
    padding-right: 32px !important;
  }
  
  .input-search-content .input-search-location::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: var( --netural-1000) !important;
  }
  
  .input-search-content .form-control:focus {
    box-shadow: none;
  }
  
  /* break span */
  .break-span{
    height: 40px;
    width: 1px;
    background: var(--netural-200);
  }
  /* START LANGUGE DROPDOWN */
  .dropdown-menu{
    min-width: fit-content;
  }
  .drop-lang .lang{
    color: var(--netural-1000);
  }
  .dropmenu-user .border {
    border-radius: var(--border-radius-full);
    padding: 12px;
    color: var(--netural-200);
  }
  :is(.icon-lang, .dropmenu-user) .dropdown-menu {
    --bs-dropdown-min-width: 7rem !important;
    --bs-dropdown-padding-y: 0rem !important;
    border: var(--border-02) !important;
    position: absolute;
    left: 0;
    border-radius: var(--border-radius-4);
    padding: 16px;
  }
  .dropmenu-user .dropdown-item .link-drop-item{
    display: flex;
    gap: 8px;
    padding: 16px 12px;
    border-radius: var(--border-radius-4);
    transition: all 0.3s;

  }
  .dropmenu-user .dropdown-item .link-drop-item:hover{
    transform: translate(1px,1px);
    background: var(--gray-primary);

  }
  :is(.icon-lang, .dropmenu-user)  .dropdown-menu .dropdown-item {
    border-radius:var(--border-radius-4);
    background: transparent !important;
    padding:0px !important;
    transition: all 0.5s;

  }
  
  :is(.icon-lang, .dropmenu-user) .dropdown-menu .dropdown-item:hover {
    color: var(--primary);
  }
  
  /* :is(.icon-lang, .dropmenu-user) .dropdown-item:nth-child(1) {
    border-bottom: var(--border-02);
  } */
  
  :is(.icon-lang .dropdown .drop-lang, .dropmenu-user .drop-user) {
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  :is(.icon-lang, .dropmenu-user .drop-user) .btn-check:checked + .btn,
  :is(.icon-lang, .dropmenu-user .drop-user) .btn.active,
  :is(.icon-lang, .dropmenu-user .drop-user) .btn.show,
  :is(.icon-lang, .dropmenu-user .drop-user) .btn:first-child:active,
  :not(.icon-lang .btn-check) + .icon-lang.btn:active,
  :not(.dropmenu-user .drop-user .btn-check)
    + .dropmenu-user
    .drop-user.btn:active {
    background: transparent !important;
    border: none !important;
  }
  
  :is(.icon-lang, .dropmenu-user) .dropdown-menu[data-bs-popper] {
    margin-top: 15px;
    right: 0;
    left: unset;
  }
  [dir='rtl'] :is(.icon-lang, .dropmenu-user) .dropdown-menu[data-bs-popper] {
    right: unset ;
    left: 0 ;
  }

  
  
  :is(.icon-lang, .dropmenu-user) .dropdown-item.active,
  :is(.icon-lang, .dropmenu-user) .dropdown-item:active {
    background: transparent !important;
    color: var( --netural-1000);
  }
  
  .icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-4);
    border: var(--border-02);
    cursor: pointer;
    color: var(--netural-1000);
  }
  .icon-border .lang {
    padding: 10px 12px;
  }
  
  /* END LANGUGE DROPDOWN */
  .navbar-menu .navbar-search {
    display: none;
    width: 55%;
  }
  
  .navbar-menu .navbar-search .input-search-content {
    width: 100%;
    margin: 0;
  }
  
  
  /* SCREEN 991PX */
  @media screen and (max-width: 991px) {
    .navbar-menu .navbar-nav {
      align-items: initial;
    }
  
    .navbar-menu .nav-menu .navbar-nav {
      padding: 15px 0;
    }
  
    .navbar-menu .navbar-nav .input-search-content {
      display: none;
    }
  
    .navbar-menu .navbar-search {
      display: block;
    }
  
    .navbar-menu .navbar-brand {
      margin: 0;
    }
  
    
    .break-span{
      display: none;
    }
    
    
  }
  
  /* SCREEN 550PX */
  @media screen and (min-width:576px) {
    .main-info-left .icon-border{
      display: flex !important;
    }
    .left-nav-menu .icon-border{
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    .navbar-menu .navbar-search {
      width: 50%;
      margin-left: auto;
      margin-right: 15px;
    }
  
    .navbar-menu {
      padding: 8px 0 15px 0 !important;
    }
  
    .navbar-menu .navbar-toggler {
      padding: 5px 8px;
    }
    .left-nav-menu .btn-main {
      width: 100%;
    }
    
  }
  
  /* SCREEN 480PX */
  @media screen and (max-width: 480px) {
    .navbar-menu .navbar-search {
      display: none;
    }
  
    .left-nav-menu {
      flex-direction: column;
      align-items: initial !important;
    }
  }
  
  .navbar-menu.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideDown 0.5s ease;
    border-bottom: var(--border-02);
    background: var(--white-01-color);
    z-index: 300 !important;
  }
  
  /* ANIMATION ON SCROLL MENU NAVBAR */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  /* LTR DIRECTION */
  
  html[dir="ltr"] .navbar-menu .navbar-nav {
    margin-right: auto !important;
    margin-left: initial !important;
  }
  
  html[dir="ltr"] .navbar-menu .navbar-brand {
    margin: 0 1rem 0 0 !important;
  }
  
  html[dir="ltr"] .input-search-content .icon-location {
    right: initial;
    left: 4%;
  }
  
  html[dir="ltr"] .navbar-menu .input-search-content {
    margin: 0 0 0 15px;
  }
  
  html[dir="ltr"] .input-search-content .input-search-location {
    padding-left: 32px !important;
    padding-right: 0 !important;
  }
  
  /* IF USER LOGIN */
  .image-user-login img {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .left-nav-menu--2 {
    align-items: center;
    gap: 1rem;
  }
  
  @media screen and (max-width: 991px) {
    .left-nav-menu--2 {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 10px 12px;
      background: var(--white-01-color);
      box-shadow: var(--box-shadow);
      justify-content: space-around;
      border-top: var(--border-02);
      z-index: 100;
      display: flex !important;
    }
  
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      position: initial;
      inset: initial !important;
    }
  
    .left-nav-menu--2
      :is(.icon-lang, .dropmenu-user)
      .dropdown-menu[data-bs-popper] {
      margin-top: -146px;
      right: 18px;
      border-radius: 5px 5px 0 0 !important;
    }
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    --bs-dropdown-min-width: 11rem !important;
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-item,
  .left-nav-menu--2 .dropmenu-user .dropdown-item .link-drop-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-item svg {
    width: 22px;
    height: 22px;
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-item {
    padding: 15px 12px;
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-item:not(:last-child) {
    border-bottom: var(--border-02);
  }
  
  .left-nav-menu--2 .dropmenu-user .dropdown-item .logout-drop {
    color: var(--danger-01-color) !important;
  }
  
   .dropmenu-user .dropdown-item .link-drop-item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var( --netural-1000);
  }
  
  /* announcement modal */
.announcement-modal .modal-dialog{
  max-width: fit-content !important;
}
.announcement-modal .modal-content, .announcement-modal .modal-body{
  min-height: fit-content !important;
  height: fit-content !important;
}
.modal-announcement{
border-radius: var(--border-radius-4);
border: 1px solid var(--netural-200);
padding: 24px 16px;
transition: 0.3s ease-in-out;
display: flex;
align-items: center;
justify-content: center;
height: fit-content;
}

.modal-announcement:hover{
  border: 1px solid var(--primary);
  color: var(--primary);
}
.modal-announcement:hover svg path,.modal-announcement:hover p{
  color: var(--primary);
  fill: var(--primary);
}
.modal-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.modal-announcement {
  flex: 1 1 calc(100% - 8px); /* 2 items per row with 16px gap */
}
@media screen and (min-width: 600px) {
  .modal-announcement {
    flex: 1 1 calc(50% - 8px); /* 2 items per row with 16px gap */
  }
  
  .modal-grid{
    width: 550px;
  }
}

  /* SCREEN 1500px */
  @media screen and (max-width: 1500px) {
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(55%);
    }
  
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(22%);
    }
   
  }
  
  /* SCREEN 1220PX */
  @media screen and (max-width: 1220px) {
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(70%);
    }
  
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(8%);
    }
  }
  
  /* SCREEN 991PX */
  @media screen and (max-width: 991px) {
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      --bs-dropdown-min-width: 13rem !important;
    }
  
    .left-nav-menu--2 .dropmenu-user .dropdown-menu,
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      margin: 0 !important;
      top: -503% !important;
      transform: translateX(55%) !important;
      border-radius: 8px 8px 0 0 !important;
    }
  
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(-55%) !important;
    }
  
    .left-nav-menu--2 .icon-lang .dropdown-menu {
      transform: translate3d(0px, -55px, 0px) !important;
      border-radius: 8px 8px 0 0 !important;
      right: 0 !important;
    }
  }
  
  /* SCREEN 675PX */
  @media screen and (max-width: 675px) {
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(65%) !important;
    }
  
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(-65%) !important;
    }
  }
  
  /* SCREEN 575PX */
  @media screen and (max-width: 485px) {
    .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(75%) !important;
    }
  
    html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
      transform: translateX(-75%) !important;
    }
  }
  
  /* SEARCH BAR */
  .navbar-menu .all-input-search-city {
    width: auto;
  }
  .navbar-menu .all-input-search-city input::placeholder {
    font-size: 11px !important;
  }
  .navbar-menu .all-input-search-city .all-city-search {
    top: 61px;
    border-radius: 0;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 678px) {
    .all-input-search-city .all-city-search {
      width: 68vw;
    }
  }
  

 

  