.advanced-search {
  border-radius: var(--border-radius-7);
  background: var(--netural-100);
  padding: 24px 24px;
  width: 100%;
}

.select-type {
  border-radius: var(--border-radius-4);
  border: 1px solid var(--netural-200);
  background-color: inherit;
  gap: 8px;
  justify-content: space-evenly;
}
.advanced-search .select-type button {
  padding: 12px 32px;
  border-radius: var(--border-radius-2);
  border: none;
  transition: 0.3s ease-in-out;
  background-color: inherit;
}
.advanced-search.finishing .select-type button {
  padding: 12px 16px;
}

.advanced-search .select-type .selected {
  background-color: rgba(23, 55, 148, 0.1);
}

.advanced-search ul::before {
  display: none !important;
}
.advanced-search .form-control,
.advanced-search .dropdown {
  padding: 16px 12px;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--netural-200);
  background-color: var(--netural-100);
}
.advanced-search .select-progress {
  border-radius: var(--border-radius-4);
  border: 1px solid var(--netural-200);
  background-color: inherit;
  display: flex;
  gap: 8px;
  justify-content: space-around;
}
.advanced-search .select-progress button {
  padding: 12px 8px;
  color: var(--netural-1000);
}
.advanced-search .dropdown button {
  padding: 0;
  border: none;
  text-align: right !important;
}
[dir="ltr"] .advanced-search .dropdown button {
  text-align: left !important;
}

.advanced-search .dropdown button:hover {
  background-color: unset;
}
.advanced-search .dropdown button:active {
  border: none;
  background-color: unset;
  color: var(--netural-1000);
}
.advanced-search button.show {
  border: none;
  background-color: inherit;
  color: var(--netural-1000);
}

.advanced-search .search-input:focus {
  box-shadow: -1px 0px 0px 1px var(--primary);
  border: 1px solid var(--primary);
}
/* dropdown */
.advanced-search .dropdown-menu.show {
  border-radius: var(--border-radius-4);
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  min-width: 450px;
  inset: unset !important;
  transform: translate(12px, 30px) !important;
}
/* نوع المكان  place kind */
.advanced-search .place-kind {
  gap: 24px;
}
.advanced-search .place-kind .nav-tabs .nav-link.active {
  background-color: white;
  border-bottom: 1px solid var(--primary) !important;
  border-radius: 0px;
}
.advanced-search .place-kind ul {
  border: none;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--netural-300);
  border-radius: 0px;
  padding: 0px;
}

.advanced-search .place-kind ul li button {
  padding: 12px 24px;
}
/* pick */
.advanced-search .pick {
  border-radius: var(--border-radius-full);
  padding: 8px 16px;
  border: 1px solid var(--netural-300);
  width: 100%;
  text-align: center;
  color: var(--netural-700);
  cursor: pointer;
  width: auto;
}
.advanced-search .pick:hover {
  color: var(--netural-1000);
}
.advanced-search .picked {
  border-color: var(--green-200);
  background-color: rgba(31, 193, 107, 0.1);
}

.btn-confirm,
.btn-reset {
  background: var(--primary);
  border-radius: var(--border-radius-4);
  padding: 12px 8px !important;
}
.btn-confirm:hover {
  background: var(--primary-300) !important;
}
.btn-reset:hover {
  color: var(--netural-100);
}
.btn-reset {
  background-color: var(--netural-100);
  color: var(--primary);
  border: 1px solid var(--primary) !important;
}

/* rooms dropdown */
.advanced-search .rooms ul {
  display: none;
}
/* range slider */
.advanced-search .slider-handle {
  border-radius: 9999px;
  cursor: pointer;
  height: 24px;
  margin-top: -11px;
  position: absolute;
  white-space: nowrap;
  width: 24px;
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: var(--netural-100);
  border: 1px solid var(--primary);
}
.advanced-search .slider-rail,
.slider-tracks {
  cursor: pointer;
  height: 4px;
  position: absolute;
}
.slider-tracks {
  --tw-bg-opacity: 1;
  background-color: var(--primary);
}

.slider-track {
  background: var(--primary);
  height: 3px;
  top: 0;
  border-radius: 4px;
}

.slider-track.slider-track-0 {
  background-color: var(--netural-300);
}
.slider-track.slider-track-1 {
  background-color: var(--primary) !important;
}

.slider-track.slider-track-2 {
  background-color: var(--netural-300) !important;
}

.tabs-home .search-filter {
  padding: 0px;
}

/* @media screen and (min-width: 1600px) {
    .home-hero .tab-content{
        width:65%;
    }
}
@media screen and (max-width: 1400px) {
    .home-hero .tab-content{
        width:90%;
    }
}
@media screen and (max-width: 1200px) {
    .home-hero .tab-content{
        width:90%;
    }
}
 */

@media screen and (min-width: 992px) {
  .advanced-search .p-component {
    width: 450px;
  }
}


