.p-dropdown {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--netural-200);
  background-color: var(--netural-100);
  width: 100%;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: -1px 0px 0px 1px var(--primary);
  border: 1px solid var(--primary);
}

.p-dropdown .p-dropdown-label {
  padding: 0;
  border: none;
  color: var(--netural-1000);
  margin: 0;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: var(--netural-600);
}

.p-dropdown .p-dropdown-trigger {
  padding: 0;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
}

.p-dropdown .p-dropdown-trigger-icon {
  color: var(--netural-600);
  transition: transform 0.3s ease;
}

.p-dropdown.p-focus .p-dropdown-trigger-icon {
  color: var(--primary);
  transform: rotate(180deg);
}

.p-dropdown-panel {
  border-radius: var(--border-radius-4);
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  min-width: 450px;
  background: var(--netural-100);
  max-height: 350px;
  overflow-y: auto;
  z-index: 2000 !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0;
  border: none;
  width: 100%;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-dropdown-panel .p-dropdown-item {
  border-radius: var(--border-radius-4);
  padding: 8px 16px;
  border: 1px solid var(--netural-300);
  width: 100%;
  text-align: center;
  color: var(--netural-700);
  cursor: pointer;
  justify-content: center;
  min-width: max-content;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: white;
  border-bottom: 1px solid var(--primary) !important;
  color: var(--primary);
}

.p-dropdown-panel .p-dropdown-item:hover {
  background: #e9e9e9;
  color: var(--primary);
}

[dir="ltr"] .p-dropdown .p-dropdown-label,
[dir="ltr"] .p-dropdown .p-dropdown-trigger {
  text-align: left !important;
}

[dir="rtl"] .p-dropdown .p-dropdown-label,
[dir="rtl"] .p-dropdown .p-dropdown-trigger {
  text-align: right !important;
}

.p-dropdown-items-wrapper {
  max-height: max-content !important;
}
