.compound-card{
    border: 1px solid var(--netural-200);
    border-radius: var(--border-radius-4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 16px;
    align-items: center;
}

.available{
    background: rgba(223, 160, 39, 0.1);
    padding: 4px 8px;
    border-radius: var(--border-radius-2);
    width: fit-content;
    max-height: fit-content;
    min-width: max-content;
    color: var(--yellow-100);
}
.compound-card .compound-img{
    position: relative;
    border-radius: var(--border-radius-2);
    overflow: hidden;
    width: 100%;
    height: auto;
}
.compound-card .compound-img img{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius-2);

}
.connections .b-12{
    color: var(--netural-600);
}
/* favicon */
.fav-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: rgba(34, 34, 34, 0.5);
    border-radius: var(--border-radius-2);
    padding: 8px;
}
.compound-card .logo{
    border: 1px solid var(--netural-200);
    border-radius: var(--border-radius-full);
    width: fit-content;
    padding: 10px;
}
/* Compound used in ads */


/* media */
@media screen  and (min-width:1400px) {
    .compound-card .compound-title{
        flex-direction: row !important;
    }
    .compound-card .compound-img img{
        height: 300px;
    }
}
@media screen  and (max-width:1200px) {
    .compound-card .compound-img img{
        height: 250px;
    }
}

@media screen  and (min-width:992px) and (max-width:1200px) {
 
    .compund-ads .compound-card {
        width: 100% !important;
        flex-wrap: nowrap !important;
    }
}
@media screen and (max-width:600px) {
    .compound-card{
        width: 100% !important;
    }
}