.white-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    height: 85%;
    width: 95%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: var(--border-radius-2);
    transition: 0.5s ease-in-out;
    opacity: 0;
     flex-wrap: wrap;
     gap: 8px;
  }
  @media screen and (max-width: 560px) {
    .white-overlay{
      flex-wrap: wrap;
      justify-content: center ;
    }
  }
