.space-box{
    border-radius: var(--border-radius-4);
    border: 1px solid var(--netural-200);
    padding: 24px;
    display: flex; 
    flex-direction: column;
}
.space-box > div{
    border-bottom: 1px solid var(--netural-200);
    padding-bottom: 16px;
}
.space-box > div:last-of-type {
    border-bottom: none;
  }