.form-border {
  border: 1px solid var(--netural-200);
  padding: 32px;
  border-radius: var(--border-radius-4);
}
.join-us hr {
  color: var(--netural-400);
  padding-bottom: 10px;
}

.join-us.mb-4 {
  margin-bottom: 1.5rem;
}

.success-modal .modal-dialog {
  width: 95%;
  max-width: unset;
}

.success-modal.join .modal-content {
  min-height: fit-content;
}
.option-finish-btn {
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.step-border.active {
  width: 33.2%;
  height: 6px;
  border-radius: var(--border-radius-4);
  background-color: var(--primary);
}
.step-border {
  background-color: #1737941a;
  width: 33.2%;
  height: 6px;
  border-radius: var(--border-radius-4);
}

@media (min-width: 992px) {
  .custom-responsive-buttons .option-finish-btn {
    width: 49%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .join-us.form-container {
    padding: 1rem;
  }

  .join-us.btn-submit {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .success-modal .modal-dialog {
    width: 50% !important;
  }
}
