.places ul {
display: flex;
justify-content: space-between;
border: 1px solid var(--netural-200);
padding: 12px 16px;
border-radius: var(--border-radius-4);
align-items: center;
flex-wrap: wrap;
}
.places ul li {
    display: flex;
    gap: 4px;
    color: var(--netural-600);
    cursor: pointer;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.places ul li:hover{
    color: var(--primary);
}
.places ul li span{
    color: var(--primary);
}

.transition-container {
    max-height: 180px; /* enough for ~5 items */
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.transition-container.expanded {
    max-height: 1000px; /* or any large number to fit all */
    gap: 48px;
}
