.slider-details-info .swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;


}

.slider-details-info .swiper-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
}

.slider-details-info .swiper-slider-2 .swiper-slide img {
    height: 150px;
}

.slider-details-info .swiper-slider-1 .swiper-slide img {
    height: 600px;
}

@media screen and (max-width:1400px) {
    .slider-details-info .swiper-slider-1 .swiper-slide img {
        height: 450px;
    }
}

@media screen and (max-width:786px) {
    .slider-details-info .swiper-slider-1 .swiper-slide img {
        height: 300px;
    }

    .slider-details-info .swiper-slider-2 .swiper-slide img {
        height: 100px;
    }
}