.slider-container{
    margin: 0 -1px 0 -12px;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.slick-track:before, .slick-track:after{
    display: none;
}
.slick-next{
    right: 12px;
}
.slick-prev{
    left: 0px;
}
[dir='rtl'] .slick-next{
    left: -12px;
    z-index: 1;
}
[dir='rtl'] .slick-prev{
    right: 12px;
    z-index: 10 !important;
}
[dir='rtl'] .slick-next:before{
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M14.4694%2020.031L6.96945%2012.531C6.89971%2012.4614%206.84439%2012.3787%206.80665%2012.2876C6.76891%2012.1966%206.74948%2012.099%206.74948%2012.0004C6.74948%2011.9019%206.76891%2011.8043%206.80665%2011.7132C6.84439%2011.6222%206.89971%2011.5394%206.96945%2011.4698L14.4694%203.96979C14.6102%203.82906%2014.801%203.75%2015.0001%203.75C15.1991%203.75%2015.39%203.82906%2015.5307%203.96979C15.6714%204.11052%2015.7505%204.30139%2015.7505%204.50042C15.7505%204.69944%2015.6714%204.89031%2015.5307%205.03104L8.56038%2012.0004L15.5307%2018.9698C15.6004%2019.0395%2015.6557%2019.1222%2015.6934%2019.2132C15.7311%2019.3043%2015.7505%2019.4019%2015.7505%2019.5004C15.7505%2019.599%2015.7311%2019.6965%2015.6934%2019.7876C15.6557%2019.8786%2015.6004%2019.9614%2015.5307%2020.031C15.461%2020.1007%2015.3783%2020.156%2015.2872%2020.1937C15.1962%2020.2314%2015.0986%2020.2508%2015.0001%2020.2508C14.9015%2020.2508%2014.8039%2020.2314%2014.7129%2020.1937C14.6219%2020.156%2014.5391%2020.1007%2014.4694%2020.031Z%22%20fill%3D%22%23222222%22/%3E%3C/svg%3E");
    font-size: 24px;
    background-color: var(--netural-100);
    padding: 12px;
    border-radius: var(--border-radius-full);
    border:  1px solid rgba(230, 230, 230, 1);
    opacity: 1;
}
[dir='rtl'] .slick-prev:before, .slick-next:before{
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M9.53055%203.96896L17.0306%2011.469C17.1003%2011.5386%2017.1556%2011.6213%2017.1933%2011.7124C17.2311%2011.8034%2017.2505%2011.901%2017.2505%2011.9996C17.2505%2012.0981%2017.2311%2012.1957%2017.1933%2012.2868C17.1556%2012.3778%2017.1003%2012.4606%2017.0306%2012.5302L9.53055%2020.0302C9.38982%2020.1709%209.19895%2020.25%208.99993%2020.25C8.80091%2020.25%208.61003%2020.1709%208.4693%2020.0302C8.32857%2019.8895%208.24951%2019.6986%208.24951%2019.4996C8.24951%2019.3006%208.32857%2019.1097%208.4693%2018.969L15.4396%2011.9996L8.4693%205.03021C8.39962%204.96052%208.34435%204.8778%208.30663%204.78675C8.26892%204.69571%208.24951%204.59813%208.24951%204.49958C8.24951%204.40104%208.26892%204.30345%208.30663%204.21241C8.34435%204.12136%208.39962%204.03864%208.4693%203.96896C8.53899%203.89927%208.62171%203.844%208.71276%203.80629C8.8038%203.76858%208.90138%203.74916%208.99993%203.74916C9.09847%203.74916%209.19606%203.76858%209.2871%203.80629C9.37815%203.844%209.46087%203.89927%209.53055%203.96896Z%22%20fill%3D%22%23222222%22/%3E%3C/svg%3E");
    font-size: 24px;
    background-color: var(--netural-100);
    padding: 12px;
    border-radius: var(--border-radius-full);
    border:  1px solid rgba(230, 230, 230, 1);
    opacity: 1;
}
.slick-prev:before{
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M14.4694%2020.031L6.96945%2012.531C6.89971%2012.4614%206.84439%2012.3787%206.80665%2012.2876C6.76891%2012.1966%206.74948%2012.099%206.74948%2012.0004C6.74948%2011.9019%206.76891%2011.8043%206.80665%2011.7132C6.84439%2011.6222%206.89971%2011.5394%206.96945%2011.4698L14.4694%203.96979C14.6102%203.82906%2014.801%203.75%2015.0001%203.75C15.1991%203.75%2015.39%203.82906%2015.5307%203.96979C15.6714%204.11052%2015.7505%204.30139%2015.7505%204.50042C15.7505%204.69944%2015.6714%204.89031%2015.5307%205.03104L8.56038%2012.0004L15.5307%2018.9698C15.6004%2019.0395%2015.6557%2019.1222%2015.6934%2019.2132C15.7311%2019.3043%2015.7505%2019.4019%2015.7505%2019.5004C15.7505%2019.599%2015.7311%2019.6965%2015.6934%2019.7876C15.6557%2019.8786%2015.6004%2019.9614%2015.5307%2020.031C15.461%2020.1007%2015.3783%2020.156%2015.2872%2020.1937C15.1962%2020.2314%2015.0986%2020.2508%2015.0001%2020.2508C14.9015%2020.2508%2014.8039%2020.2314%2014.7129%2020.1937C14.6219%2020.156%2014.5391%2020.1007%2014.4694%2020.031Z%22%20fill%3D%22%23222222%22/%3E%3C/svg%3E");
    font-size: 24px;
    background-color: var(--netural-100);
    padding: 12px;
    border-radius: var(--border-radius-full);
    border:  1px solid rgba(230, 230, 230, 1);
    opacity: 1;
    z-index: 10;

}

