.phone-number-container {
  position: relative;
  margin-bottom: 1rem;
}

.phone-number-prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #6c757d;
  height: 100%;
  background: #f8f9fa;
  border-radius: 4px;
  font-size: 0.9rem;
}

.prefix-rtl {
  left: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #dee2e6;
}

.prefix-ltr {
  right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #dee2e6;
}

.phone-number-input {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out;
}

.phone-number-input:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--primary);
}

.phone-number-input.is-invalid {
  border-color: #dc3545;
}

.phone-number-input.is-valid {
  border-color: #28a745;
}

.phone-number-error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
